*{
    padding: 0;
    margin: 0;
    text-decoration: none;
    box-sizing: border-box;
}
.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    padding: .8rem;
    background-color: rgb(50, 167, 145);
}
.headerImg {
    display: flex;

}

.trybewarts-header-logo {
    height: 50px;
    
}

.headerh1 h1 {
    
}

.formHeader {

}

.trybewarts-login {
    display: flex;
}

.trybewarts-login input, button {
    padding: 0.5rem;
    margin: 0 .3rem;
    border-radius: .3rem;
    font-size: 1rem;
}
