* {
  padding: 0;
  margin: 0;
  text-decoration: none;
  box-sizing: border-box;
}

.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-direction: row;
  padding: 0.8rem;
  background-color: rgb(50, 167, 145);
}

/* .headerImg {
  display: flex;
} */

.trybewarts-header-logo {
  height: 50px;
}

main {
  display: flex;
  justify-content: space-around;
  max-width: 80%;
  margin: 0 auto;
}

.mainform {
  display: flex;
  margin: 0 auto;
}

#evaluation-form {
  display: flex;
  flex-direction: column;
  width: 675px;
}

.formHeader {
  font-size: 1rem;
}

.trybewarts-login {
  display: flex;
}

.formHeader .trybewarts-login input button {
  padding: 0.5rem;
  margin: 0 0.3rem;
  border-radius: 0.3rem;
  font-size: 1rem;
}

.dice {
  display: flex;
  justify-content: space-between;
  width: 500px;
}

.dice #label-family {
  display: flex;
}

.dice .containerFamily .checkFamily {
  display: flex;
  flex-direction: column;
}

.dice .contentToLearn {
  display: flex;
}

.dice .containerFamily {
  display: flex;
  flex-direction: column;
}

.dice .containerFamily .contentOpinions {
  display: flex;
  flex-wrap: wrap;
  width: 157px;
  margin: 0 0 auto;
}

.container-labelRate {
  display: flex;
}

#textarea {
  display: flex;
  flex-direction: column;
}

.textarea {
  padding: 5px;
}

.mainImg {
  display: flex;
  align-self: flex-end;
}

#trybewarts-forms-logo {
  height: 500px;
}

footer {
  position: fixed;
  bottom: 0;
  width: 100%;
  height: 40px;
  text-align: center;
}
